#grid-container {
  display: grid;
}

body {
  background-color: gray;
}

h1 {
  background-color: gray;
  margin: 0px;

}

nav {
  background-color: hotpink;
  display: flex;
  justify-content: space-around;
  padding: 20px
}

.navbar {
  background-color: hotpink;
}

.sidebar {
  background-color: hotpink;
}

.main {
  background-color: white;
}
h5{
  text-align: center;
  font-size:xx-large; 
}